<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.MetaDescription" />
    <title>Provincial Safety Services - @ViewBag.Title</title>
    @*<title>Provincial Safety Services - Suppliers of Industrial Safety Equipment, Safety Clothing and Safety Footwear</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-91054392-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pull-left">
                <div class="pull-left" style="padding-bottom: 20px">
                    <div class="pull-left" style="box-shadow: 10px 10px 5px #888888;">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Images/Logo.png" style="height:130px" /></a>
                    </div>
                </div>
                <div class="pull-left" style="font-size: 1.4em; padding-left: 20px;">
                    <b><span class="glyphicon glyphicon-earphone"></span> 0121 544 5208</b><br />
                    <b><span class="glyphicon glyphicon-print"></span> 0121 552 9075</b><br />
                    <b><span class="glyphicon glyphicon-phone"></span> 07973 954 333</b><br />
                    <b><span class="glyphicon glyphicon-envelope"></span> sales@provincialsafety.co.uk</b><br />
                    <b><span class="glyphicon glyphicon-envelope"></span> steve@provincialsafety.co.uk</b><br />
                </div>
            </div>
            <div class="col-md-6 pull-right">
                <div class="pull-right hidden-sm hidden-xs" style="padding-bottom: 20px">
                    <img src="~/Images/Products/Doosan welder2.jpg" style="height: 130px; box-shadow: 10px 10px 5px #888888;" />
                </div>
                @*<div class="pull-right">
                        <img src="~/Images/Products/man on fire.png" style="height: 130px;  padding-left: 20px" />
                    </div>*@
                <div class="pull-right hidden-sm hidden-xs" style="text-align:right; font-size: 1.4em; padding-right: 20px; ">
                    <b>Provincial Safety Services Ltd.</b><br />
                    <b>Portway Road</b><br />
                    <b>Oldbury</b><br />
                    <b>West Midlands</b><br />
                    <b>B69 2BP</b>
                </div>
            </div>

        </div>
    </div>
    <br />
    <div class="navbar navbar-inverse">

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Bespoke Clothing", "BespokeClothing", "Products")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Head Protection", "HeadProtection", "Products")</li>
                            <li>@Html.ActionLink("Clothing", "Clothing", "Products")</li>
                            <li>@Html.ActionLink("Hand Protection", "HandProtection", "Products")</li>
                            <li>@Html.ActionLink("Footwear", "Footwear", "Products")</a></li>
                            <li>@Html.ActionLink("Fall Arrest", "FallArrest", "Products")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Industries", "Industries", "Home")</li>
                    <li>@Html.ActionLink("Find Us", "FindUs", "Home")</li>
                    <li>@Html.ActionLink("News", "News", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: center">
            <p>Goggles | Spectacles | Welding Shields | Face Masks | Respirators | Ear Defenders | Wellingtons | Safety Helmets | Industrial Safety Footwear | PVC/PU/Leather/Cotton Industrial Gloves | Industrial and High Visibility Clothing | Boiler Suits | Wet Weather Suits</p>
            <span style="float:right; color: #cccccc">v1.1.0.0</span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
