<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provincial Safety</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Images/Logo.png" style="height:150px" />
            </div>
                <div class="col-md-9 pull-right">
                    <ul class="nav nav-pills pull-right contact-details">
                        <li><span class="glyphicon glyphicon-earphone"></span> 0121 544 5208</li>
                        <li><span class="glyphicon glyphicon-print"></span> 0121 552 9075</li>
                        <li><span class="glyphicon glyphicon-phone"></span> 07973 954 333</li>
                        <li><span class="glyphicon glyphicon-envelope"></span> sales@provincialsafety.co.uk</li>
                        <li><span class="glyphicon glyphicon-envelope"></span> steve@provincialsafety.co.uk</li>                        
                    </ul>
                    <br />
                    <br />
                    <div class="pull-right" style="text-align:right; font-size: 1.5em">
                        <b>Portway Road</b><br />
                        <b>Oldbury</b><br />
                        <b>West Midlands</b><br />
                        <b>B69 2BP</b>
                    </div>
                </div>

            </div>
    </div>
    <br/>
    <div class="navbar navbar-inverse">

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bespoke Clothing", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Head Protection", "HeadProtection", "Products")</li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Hand Protection</a></li>
                            <li><a href="#">Footwear</a></li>
                            <li><a href="#">Fall Arrest</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Industries", "Index", "Home")</li>
                    <li>@Html.ActionLink("Find Us", "Index", "Home")</li>
                    <li>@Html.ActionLink("News", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: center">
            <p>Goggles | Spectacles | Welding Shields | Face Masks | Respirators | Ear Defenders | Donkey Jackets | Wellingtons | Safety Helmets | Industrial Safety Footwear | PVC/Leather/Cotton Industrial Gloves | Industrial and High Visibility Clothing | Boiler Suits | Wet Weather Suits</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
